/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------------------------
            // |  TAB  |  Q  |  W  |  E  |  R  |  T  |                   |  Y  |  U  |  I  |  O  |  P  |  [  |
            // | SHIFT |  A  |  S  |  D  |  F  |  G  |                   |  H  |  J  |  K  |  L  |  ;  |  '  |
            // |  CTRL |  Z  |  X  |  C  |  V  |  B  |                   |  N  |  M  |  ,  |  .  |  /  |  =  |
            //                          | ALT  | LOWER |  SPACE  |  | ENTER  | RAISE | BSPC  |

            display-name = "Base";
            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R         &kp T        &kp Y    &kp U  &kp I      &kp O    &kp P     &kp LBKT
&kp LSHFT  &kp A  &kp S  &kp D     &kp F         &kp G        &kp H    &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LCTRL  &kp Z  &kp X  &kp C     &kp V         &kp B        &kp N    &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp EQUAL
                         &kp LALT  &kp LEFT_WIN  &kp SPACE    &kp RET  &mo 1  &kp BSPC
            >;
        };

        lower_layer {
            // -------------------------------------------------------------------------------------------
            // |  ESC  |  1   |  2   |  3   |  4   |   5   |  6   |  7   |  8   |  9   |  0   |  -   |
            // |       | prev | Vol^ | Volv | next | pause |      | home | end  | pgup | pgdn | SHFT |
            // |       | BT0  | BT1  | BSPC | DEL  |       |      |      |      |      |  \   |      |
            //                       |      |      | BTCLR |      |      |      | DEL  |

            display-name = "Lower";
            bindings = <
&kp ESC  &kp N1    &kp N2   &kp N3       &kp N4         &kp N5             &kp N6          &kp N7        &kp N8          &kp N9           &kp N0         &kp RIGHT_BRACKET
&trans   &kp F1    &kp F2   &kp F3       &kp F4         &kp F5             &kp F6          &kp F7        &kp F8          &kp F9           &kp F10        &mt F12 F11
&trans   &kp HOME  &kp END  &kp PAGE_UP  &kp PAGE_DOWN  &kp PRINTSCREEN    &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp BACKSLASH  &kp MINUS
                            &trans       &trans         &bt BT_CLR         &trans          &trans        &kp DEL
            >;
        };
    };
};
